{% extends "shop/base.html" %}

{% block title %}За нас{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>За нас</h1>
        <p>Ние сме [Вашето Име на Компания], посветени на предоставянето на качествени продукти и услуги на нашите клиенти. С нашата [мисия/визия], ние се стремим да направим живота на нашите потребители по-лесен и по-добър.</p>

        <h2>Нашата мисия</h2>
        <p>Нашата мисия е да предлагаме иновативни решения, които отговарят на нуждите на нашите клиенти. Вярваме в [стойностите/ценностите на компанията].</p>

        <h2>История</h2>
        <p>[Как започнахте? Важни моменти за развитието на вашия бизнес.]</p>

        <h2>Нашият екип</h2>
        <p>Ние сме екип от професионалисти с различен опит, но с обща цел - да осигурим най-доброто изживяване за нашите клиенти.</p>
        <ul>
            <li><strong>Име 1</strong> - Роля</li>
            <li><strong>Име 2</strong> - Роля</li>
            <li><strong>Име 3</strong> - Роля</li>
        </ul>

        <h2>Нашите ценности</h2>
        <p>Ние вярваме в [например: устойчивото развитие, отговорност към обществото и т.н.]</p>
    </div>
{% endblock %}
