{% extends 'shop/base.html' %}

{% block content %}
    <div class="cart">
        <h2>Вашата количка</h2>
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }} лв
                    <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger">Премахни</a>
                </li>
            {% endfor %}
        </ul>
        <p><strong>Общо:</strong> {{ total_price }} лв</p>
        <a href="{% url 'proceed_to_payment' %}" class="btn btn-primary">Плащане</a>
    </div>
{% endblock %}
